<%= form_for(@configuracion) do |f| %>
  <% if @configuracion.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@configuracion.errors.count, "error") %> prohibited this configuracion from being saved:</h2>

      <ul>
      <% @configuracion.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :financing_rate %><br>
    <%= f.text_field :financing_rate %>
  </div>
  <div class="field">
    <%= f.label :Deadline %><br>
    <%= f.text_field :Deadline %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
