<%= form_for(@sale) do |f| %>
  <% if @sale.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sale.errors.count, "error") %> prohibited this sale from being saved:</h2>

      <ul>
      <% @sale.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :payment_id %><br>
    <%= f.number_field :payment_id %>
  </div>
  <div class="field">
    <%= f.label :toal %><br>
    <%= f.number_field :toal %>
  </div>
  <div class="field">
    <%= f.label :encganche %><br>
    <%= f.number_field :encganche %>
  </div>
  <div class="field">
    <%= f.label :bonificacion %><br>
    <%= f.number_field :bonificacion %>
  </div>
  <div class="field">
    <%= f.label :status %><br>
    <%= f.check_box :status %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
